<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>Manage your blogs here!</h2>

			</div>
			<div class="tabbable" id="tabs-381489">
				<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#updateBlog ">UpdateBlog
			</a></li>
			<li ><a data-toggle="tab" href="#deleteBlog ">DeleteBlog
			</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="#updateBlog"
						data-toggle="tab">Update Blog</a></li>
					<li class="nav-item"><a class="nav-link"
						href="#deleteBlog" data-toggle="tab">Delete Blog</a></li> -->
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="updateBlog">
						<div ng-controller="BlogController">
							<h1 class="text-center">Update Blog</h1>
						</div>
						<div class="row">
							<form class="col-md-12 center-block" id="blogForm" method="POST">
								<div class="form-group">
									<input type="text" class="form-control input-lg"
										name="blogName" placeholder="Blog name"
										ng-model="blog.blogName" />{{blog.blogName}}
								</div>
								<div class="form-group">
									<textarea class="form-control input-lg" rows="3"
										name="blogContent" placeholder="Blog content"
										ng-model="blog.blogContent">{{blog.blogContent}}</textarea>
								</div>
								<div class=form-group>
									<input type="submit" class="btn btn-lg btn-success"
										value="Update Blog" ng-click="updateBlog(blog.blogId)">
									<input type="reset" class="btn btn-lg btn-default"
										value="Reset">
								</div>
							</form>
						</div>
						<form id="blogform" method="post">
							<h3>List of Created Blogs</h3>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>BlogName</th>
										<th>BlogContent</th>
										<th>Likes</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="blog in blogData">
										<td>{{blog.blogName}}</td>
										<td>{{blog.blogContent}}</td>
										<td>{{blog.likes}}<input type="submit"
											class="btn btn-primary" value="LIKES"
											ng-click="incrementLike(blog.blogId)" /></td>
										<td><input type="submit" class="btn btn-primary"
											value="EDIT BLOG" ng-click="editBlog(blog.blogId)" /> <!--<input
											type="submit" class="btn btn-primary" value="DELETE BLOG"
											ng-click="deleteBlog(blog.blogId)" /></td> -->
									</tr>
								</tbody>
							</table>
						</form>
						<div class="jumbotron">
							<h2></h2>
						</div>
					</div>
					<div class="tab-pane" id="deleteBlog">Delete</div>
				</div>
			</div>
		</div>
	</div>
</div>