<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SChAt</title>
</head>
<body>
<div ng-controller="ChatController">
	<form ng-submit="addMessage()" name="chatMsg">
	<div class="col-sm-12">
		<div class="row">
				<div class="col-sm-9 form-group">
				  <label>Message</label>
				  <input type="text" class="form-control" placeholder="Enter message here" ng-model="message">
				Text length  <span classs="count" ng-bind="max - message.length"> 140</span>
				</div>
				<div class="col-sm-6 form-group">
					<button class="btn btn-primary" ng-disabled="message.length>140||message.length==0">Send</button>
				</div>
		</div>
	</div>
	</form>

        
        <div class="jumbotron">
            <p ng-repeat="message in messages" color="lightblue">
                <span>
                <img src="http://localhost:8083/SChatMiddleWare/getImage/{{currentUser.loginname}}" width="20" height=20" onerror=this.src="avatar.png"/>
                
                <font color="blue" face="Comic Sans MS">  {{message.message}} </font>
                
                </span>
            </p>
        </div>

</div>
</body>
</html>