<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>Manage your forums here!</h2>

			</div>
			<div class="tabbable" id="tabs-381489">
				<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#updateForum ">UpdateForum
			</a></li>
			<li ><a data-toggle="tab" href="#deleteForum ">DeleteForum
			</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="#updateForum"
						data-toggle="tab">Update Forum</a></li>
					<li class="nav-item"><a class="nav-link"
						href="#deleteForum" data-toggle="tab">Delete Forum</a></li> -->
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="updateForum">
						<div ng-controller="ForumController">
							<h1 class="text-center">Update Forum</h1>
						</div>
						<div class="row">
							<form class="col-md-12 center-block" id="forumForm" method="POST">
								<div class="form-group">
									<input type="text" class="form-control input-lg"
										name="forumName" placeholder="Forum name"
										ng-model="forum.forumName" />{{forum.forumName}}
								</div>
								<div class="form-group">
									<textarea class="form-control input-lg" rows="3"
										name="forumContent" placeholder="Forum content"
										ng-model="forum.forumContent">{{forum.forumContent}}</textarea>
								</div>
								<div class=form-group>
									<input type="submit" class="btn btn-lg btn-success"
										value="Update Forum" ng-click="updateForum(forum.forumId)">
									<input type="reset" class="btn btn-lg btn-default"
										value="Reset">
								</div>
							</form>
						</div>
						<form id="forumform" method="post">
							<h3>List of Created Forums</h3>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>ForumName</th>
										<th>ForumContent</th>
										<th>Likes</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="forum in forumData">
										<td>{{forum.forumName}}</td>
										<td>{{forum.forumContent}}</td>
										<td>{{forum.likes}}<input type="submit"
											class="btn btn-primary" value="LIKES"
											ng-click="incrementLike(forum.forumId)" /></td>
										<td><input type="submit" class="btn btn-primary"
											value="EDIT BLOG" ng-click="editForum(forum.forumId)" /> <!--<input
											type="submit" class="btn btn-primary" value="DELETE BLOG"
											ng-click="deleteForum(forum.forumId)" /></td> -->
									</tr>
								</tbody>
							</table>
						</form>
						<div class="jumbotron">
							<h2></h2>
						</div>
					</div>
					<div class="tab-pane" id="deleteForum">Delete</div>
				</div>
			</div>
		</div>
	</div>
</div>